@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'reswysokrregular';
    src: url('reswysokr-webfont.woff2') format('woff2'),
         url('reswysokr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* LANDING PAGE */
.landing {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: url(../img/bgIndexWeb.jpg);
  background-size: 100%;
  overflow: hidden;
}
.title {
  position: relative;
  top: 20%;
}
h1, h2 {
  color: white;
  text-align: center;
  font-family: 'cinzel_decorativeregular', Arial, sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px;
  height: 100px;
  overflow: visible;
}
span {
  line-height: 100px;
  display: block;
}
.btn {
  position: relative;
  display: inline-block;
  top: 30%;
  left: 42%;
  transform: translate(-50%, -50%);
  background-color:black;
  opacity: .7;
  padding: 10px 50px; /*height then width*/
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.9);
  float: left;
  width: 200px;
  margin-right: 4px;
}
.btn:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  font-weight: bold;
}
.entry {
  font-family: 'reswysokrregular';
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
}

/* NAV BARS */
.button {
  background-color: inherit;
}
#offCanvas {
  padding-top: 10px;
}
.button:hover, .button:active {
  background-color: inherit;
  color: black;
  opacity: 0.7;
}
.menu a {
  color: black;
  font-family: 'reswysokrregular';
  font-size: 30px;
  opacity: 0.9;
}
.menu a:hover, .menu a:focus {
  text-decoration: none;
  font-weight: bolder;
  color: inherit;
}
.menu a:active {
  text-decoration: none;
  color: inherit;
}

/* SPRITE ANIMATION */
.sprite {
  background-image: url(../img/spriteBGWeb.jpg);
  background-size: 100%;
}
.mushroom {
  width: 200px;
  height: 300px;
  background-image: url(../img/mushroomSprite.png);
  background-repeat: repeat;
  background-position: left center;
  animation: play 1s steps(9) infinite;
  left: 50%;
  top: 20%;
  position: relative;
  margin-left: -60px;
  margin-top: 50px;

}
@keyframes play {
  100% {
    background-position: -1800px;
  }
}

/* TRANSFORM ANIMATION */
.trans {
  background-image: url(../img/basketballWeb.jpg);
  background-size: 100%;
}
.message p {
  text-align: center;
  font-family: 'reswysokrregular';
  font-size: 20px;
  letter-spacing: 2px;
  animation: wiggle 1s 2;
}
#ballComp {
	width: 140px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 35%;
	margin-left: -70px;
	z-index: 100;
	transform: scale(1);
	transition: all 5s linear 0s;
	cursor: pointer;
}
#ballComp:active {
	transform: scale(0);
	cursor: pointer;
}
#ball {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  background: linear-gradient(to top, rgba(207, 83, 0, 1), rgba(250, 131, 32, 1));
  box-shadow: inset 0 -5px 20px rgba(255, 255, 255, 0.4), inset -4px -1px 40px rgba(0, 0, 0, 0.4), 0 0 1px #000;
  position: absolute;
	top: 0;
	z-index: 11;
	animation: jump 1s infinite;
	cursor: pointer;
}
#ball::after {
  content: "";
  width: 80px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 10;
  background: linear-gradient(to top, rgba(232, 232, 232, 1), rgba(232, 232, 232, 1);, rgba(255, 255, 255, 0));
  border-radius: 40px/20px;
}
#ballShadow {
  position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 10;
	margin-left: -30px;
	width: 60px;
	height: 75px;
	background: rgba(20, 20, 20, .3);
	box-shadow: 0px 0 20px 35px rgba(20,20,20,.5);
	border-radius: 30px / 40px;
	transform: scaleY(.3);
	animation: shrink 1s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes jump {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	50% {
		top: 140px;
		height: 140px;
		animation-timing-function: ease-out;
	}
	55% {
		top: 160px;
		height: 120px;
		border-radius: 70px / 60px;
		animation-timing-function: ease-in;
	}
	65% {
		top: 120px;
		height: 140px;
		border-radius: 70px;
		animation-timing-function: ease-out;
	}
	95% {
		top: 0;
		animation-timing-function: ease-in;
	}
	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}
@keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 20px / 20px;
		animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}
}

/* TRANSITION ANIMATION */
.transition {
  background-image: url(../img/transitionBGWeb.jpg);
  background-size: 100%;
}
.first {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  border-radius: 25%;
}
.second {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  border-radius: 25%;
  animation: spin 5s linear infinite;
}
.third {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 250px;
  height: 250px;
  border: 10px solid white;
  border-radius: 25%;
  animation: spin2 5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@keyframes spin2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
